# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
.venv/

# Data & Weights
/data/
models/

# Secrets & Logs
.env
*.log
outputs/
multirun/

# Docs & Docker Meta
*.md
/assets/
docker-compose*.yml

# Dev & Research scripts
benchmarks/
research/
